ConsoleUnicodeApp/.vs/ConsoleUnicodeApp/v15/Server/sqlite3/db.lock
ConsoleCmdArgs/.vs/ConsoleCmdArgs/v15/Server/sqlite3/db.lock
ControlStatementsApp/.vs/ControlStatementsApp/v15/Server/sqlite3/db.lock
ConsoleStringApp/.vs/ConsoleStringApp/v15/Server/sqlite3/db.lock
ConsoleParsingApp/.vs/ConsoleParsingApp/v15/Server/sqlite3/db.lock
Class ConsolApp/.vs/Class ConsolApp/v15/Server/sqlite3/db.lock
