ConsoleUnicodeApp/.vs/ConsoleUnicodeApp/v15/Server/sqlite3/db.lock
ConsoleCmdArgs/.vs/ConsoleCmdArgs/v15/Server/sqlite3/db.lock
ControlStatementsApp/.vs/ControlStatementsApp/v15/Server/sqlite3/db.lock
